* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-align: center;
}

header,
footer,
div {
  border: 1px solid red;
}

header {
  height: 120px;
}

header h1 {}

footer {
  height: 60px
}

#content {
  width: auto;
  min-width: 250px;
  margin-left: 20%;
  margin-right: 20%;
}

.article-card {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}

.article-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-card p {
  padding: 2px;
  font-style: italic;
}

.article-card-text {
  height: 100%;
  width: 100%;
}

.votes-comments {
  text-align: right;
  margin-bottom: 0px
}

@media (max-width: 960px) {
  #content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 650px) {
  #content {
    margin-left: 0%;
    margin-right: 0%;
  }

  .article-card {
    flex-direction: column;
  }

  .article-card img {
    width: 100%;
  }
}