* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-align: center;
}

/* wire frame */
header,
footer,
div {
  border: 1px solid red;
}

header {
  height: 120px;
}

header h1 {}

footer {
  height: 60px
}

a {
  color: black;
  text-decoration: none;
}

#loading-message {
  margin-top: 50px;
  margin-bottom: 50px;
}

#content {
  width: auto;
  min-width: 250px;
  margin-left: 20%;
  margin-right: 20%;
}

/* article cards */
.article-card {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}

.article-card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.article-card p {
  padding: 2px;
  font-style: italic;
}

.article-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.article-card-buttons {
  text-align: right;
  margin-top: auto
}

/* article */
.article-details {
  font-style: italic;
}

.article-body {
  min-height: 370px;
}

.article-body img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  display: block;
  float: right;
  margin: 10px
}

.article-body p {
  text-align: justify;
  font-size: larger;
}

/* comment card */
.comment-card {
  width: auto;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: left;
}

.comment-card img {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 30px;
  margin: 5px
}

.comment-card-user {
  width: 120px;
  font-size: x-small;
  text-align: center;
}

.comment-card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment-card-timestamp {
  font-size: small;
  font-style: italic;
  margin-top: auto;
}

/* topic card */
.topic-card {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px
}


/* media breakpoints */
@media (max-width: 960px) {
  #content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 650px) {
  #content {
    margin-left: 0%;
    margin-right: 0%;
  }

  .article-card {
    flex-direction: column;
  }

  .article-card img {
    width: 100%;
  }

  .article-body img {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

nav {
  padding: 15px
}

nav a {
  padding: 15px;
  font-size: larger;
  font-weight: 800;


.comment-form img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  object-fit: cover;
}

.comment-form textarea {
  overflow-y: scroll;
}